:root {
  --prime-text: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --footer-text-color: #ffffff;
  --color-work-text: #ffffff;
  --button-color: #2196f3;
  --header-logo-studio: #000;
  --background-color-hero: #2f303a;
  --background-color-footer: #2f303a;
  --footer-logo-studio: #ffffff;
  --footer-link-color: #ffffff;
  --footer-tel-color: rgba(255, 255, 255, 0.6);
  --background-color-prime: #ffffff;
  --background-color-sekond: #f5f4fa;
  --background-color-portfolio: #f5f5f5;
  --background-color-btn: #f5f4fa;
  --text-btn-color: #ffffff;
  --border-color: #ececec;
  --card-border-color: #eeeeee;
  --background-card: #ffffff;
  --background-work-text: rgba(47, 48, 58, 0.8);
  --background-color-icon: #f5f4fa;
  --color-icon-soc: #afb1b8;
  --color-icon-logo: #afb1b8;
  --accent-icon-soc: #ffffff;
  --color-icon-soc-footer: #ffffff;
  --background-icon-soc-footer: rgba(255, 255, 255, 0.1);
  --border-color-client: #afb1b8;
  --transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --color-text-overlay: #ffffff;
  --background-backdrop: rgba(0, 0, 0, 0.2);
  --background-modal: #ffffff;
  --border-check: #212121;
  --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --background-mob-menu: #ffffff;
}
