.nuance__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.nuance__item {
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}
.nuance__box {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: var(--background-color-icon);
  border-radius: 4px;
}
.nuance__pre-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.nuance__text {
  line-height: 1.71;
}
